/* SCORN */
text-align: center;
font-family: SCORN;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 50px */
letter-spacing: 2.5px;

/* Kyiv*Type Titling */
text-align: center;
font-family: "Kyiv*Type Titling";
font-size: 56px;
font-style: normal;
font-weight: 840;
line-height: 100%; /* 56px */
letter-spacing: -2.8px;

/* Starway-bold */
text-align: center;
font-family: Starway-bold;
font-size: 62px;
font-style: normal;
font-weight: 500;
line-height: 85%; /* 52.7px */
letter-spacing: -0.62px;

/* Danfo */ 
text-align: center;
font-family: Danfo;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 54px */
letter-spacing: 2.7px;

/* Playwrite US Modern */
text-align: center;
font-family: "Playwrite US Modern";
font-size: 49px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 58.8px */
letter-spacing: -0.98px;

/* Grisha */
text-align: center;
font-family: Grisha;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 59.4px */
letter-spacing: -1.08px;

/* Playwrite US Trad */
text-align: center;
font-family: "Playwrite US Trad";
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 54.6px */
letter-spacing: -0.84px;

/* Gotfridus */
text-align: center;
font-family: Gotfridus;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 52.5px */
letter-spacing: -0.84px;

/* Sniglet */
text-align: center;
font-family: Sniglet;
font-size: 49px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 53.9px */
letter-spacing: -0.98px;

/* Star Fox/Starwing */
text-align: center;
font-family: "Star Fox/Starwing";
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 54.4px */
letter-spacing: -0.68px;

/* Tektur */
text-align: center;
font-family: Tektur;
font-size: 46px;
font-style: normal;
font-weight: 900;
line-height: 110%; /* 50.6px */
letter-spacing: 2.3px;

/* Instrument Serif */
text-align: center;
font-family: "Instrument Serif";
font-size: 62px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 62px */
letter-spacing: 3.1px;

/* Lato */
text-align: center;
font-family: Lato;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 55px */
letter-spacing: 2.5px;

/* Montserrat Alternates */
text-align: center;
font-family: "Montserrat Alternates";
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 50.6px */
letter-spacing: -0.92px;

/* Museo Moderno  (artist caption)*/
text-align: center;
font-family: MuseoModerno;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.6px;